:root {
  // Colors
  --color-base: #229CE1;
  --color-font: #0E5F8C;
  --color-success: #029B64;
  --color-error: #A41111;

  --color-white: #fff;

  // Sizes
  --font-size: 18px;

  // Constants
  --header-height: 86px;
  --sidebar-width: clamp(280px, 32vw, 420px);
}