.root{
  .titleName {
    display: flex;
    margin: 0 auto 48px;
    width: max-content;
    font-weight: 600;
    color: var(--color-font);
  }
}

.ul {
  li {
    margin-left: 30px;
  }

  .li {
    list-style-type: initial;

    .optionInfo {
      margin-left: 10px;
    }

    &::marker {
      font-size: 1.1em;
      color: var(--color-font);
    }
  }
}

.cardBlock {
  display: grid;
  gap: 20px;
  overflow: hidden;
  max-width: 1200px;
  margin: 15px auto 0;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #BDE1F6;
  background: #FCFEFF;

  .title {
    font-weight: 600;
    color: var(--color-font);
    line-height: 107%;

    .redHighlight {
      color: var(--color-error);
      font-weight: 600;
    }
  }

  .italic {
    font-style: italic;
  }

  .valueInfo {
    padding-inline: 10px;
    color: var(--color-error);
    font-weight: 600;
  }

  .nameDisease {
    font-weight: 500;
    color: var(--color-font);
    line-height: 107%;
  }

  .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
    
    .statusBlock {
      display: flex;
      align-items: center;
      color: var(--color-font);

      .status {
        min-width: 160px;
        margin-left: 10px;
        padding: clamp(2px, 2vw, 5px) clamp(10px, 2vw, 15px);
        border-radius: 100px;
        border: 1px solid var(--color-font);
        background: #C0FFE8;

        &.finished {
          color: #fff;
          background: #A41111;
        }
      }
    }

    @media (min-width: 720px) {
      & {
        margin-bottom: 0;
        align-items: center;
        flex-direction: row;
      }
    }
  }

  .filterOptions {
    display: flex;
    align-items: center;

    .optionInfo {
      margin-right: 10px;
      border-radius: 100px;
      border: 1px solid var(--color-font);
      background: #CBECFF;
      color: var(--color-font);
      padding: clamp(2px, 2vw, 5px ) clamp(10px, 2vw, 15px);
    }

    @media (min-width: 720px) {
      white-space: nowrap;
    }
  }

  .description {
    color: var(--color-font);
    font-weight: 400;
    line-height: 160%;

    &:focus {
      outline: none;
    } 
  }
}

.verticalGap {
  margin-bottom: 15px;
}

.horizontalGap {
  margin-left: 10px;
}
