.root{
  .titleName {
    display: flex;
    margin: 0 auto 48px;
    width: max-content;
    font-weight: 600;
    color: var(--color-font);
  }
}

.ul {
  li {
    margin-left: 30px;
  }

  .li {
    list-style-type: initial;

    .optionInfo {
      margin-left: 10px;
    }

    &::marker {
      font-size: 1.1em;
      color: var(--color-font);
    }
  }
}

.cardBlock,
.submitButtons {
  max-width: 1200px;
}

.cardBlock {
  display: grid;
  gap: 20px;
  overflow: hidden;
  margin: 15px auto 0;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #BDE1F6;
  background: #FCFEFF;

  .title {
    font-weight: 600;
    color: var(--color-font);
    line-height: 107%;

    .redHighlight {
      color: var(--color-error);
      font-weight: 600;
    }
  }

  .italic {
    font-style: italic;
  }

  .valueInfo {
    padding-inline: 10px;
    color: var(--color-error);
    font-weight: 600;
  }

  .nameDisease {
    font-weight: 500;
    color: var(--color-font);
    line-height: 107%;
  }

  .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
    
    .statusBlock {
      display: flex;
      align-items: center;
      color: var(--color-font);

      .status {
        min-width: 160px;
        margin-left: 10px;
        padding: clamp(2px, 2vw, 5px) clamp(10px, 2vw, 15px);
        border-radius: 100px;
        border: 1px solid var(--color-font);
        background: #C0FFE8;

        &.finished {
          color: #fff;
          background: #A41111;
        }
      }
    }

    @media (min-width: 720px) {
      & {
        margin-bottom: 0;
        align-items: center;
        flex-direction: row;
      }
    }
  }

  .filterOptions {
    display: flex;
    align-items: center;

    .optionInfo {
      margin-right: 10px;
      border-radius: 100px;
      border: 1px solid var(--color-font);
      background: #CBECFF;
      color: var(--color-font);
      padding: clamp(2px, 2vw, 5px ) clamp(10px, 2vw, 15px);
    }

    @media (min-width: 720px) {
      white-space: nowrap;
    }
  }

  .description {
    color: var(--color-font);
    font-weight: 400;
    line-height: 160%;

    &:focus {
      outline: none;
    } 
  }
}

.defaultInput {
  outline: none;
}

.checkbox {
  width: max-content;
}

.submitButtons {
  display: flex;
  justify-content: end;
  margin: 20px auto;
}

.submit {
  width: max-content;
  margin-right: 10px;
  margin-left: 20px;
  padding: 13px 26px;
  border-radius: 39px;
  font-size: 16px;
  font-weight: 500;
}

.submitDownload {
  color: #FFFFFF;
  background: #578695 ;
}

.submitPrint {
  color: #FFFFFF;
  background: #029B64 ;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.dentalFormula {
  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    height: 50px;
    padding: 10px;
    text-align: left;

    &:first-child {
      width: 170px;
    }
  }
}


.tableInfo22 {
  table,
  th,
  td {
    border: 1px solid black;
    color: #000;
  }

    table {
      margin-block: 20px;
    }

  td {
    text-align: center;

    .p {
      transform: rotate(180deg);
      text-align: center;
    }
  }

  tr {
    .empty {
      height: 52px;
    }

    .yellow {
      background-color: yellow;
    }

    .red {
      background-color: #ff0000;
    }

    .nameText {
      display: flex;
      justify-content: center;
      text-align: left;
    }
  }
}

.tableInfo23 {
  table,
  th,
  td {
    border: 1px solid black;
  }

  table {
    margin-top: 20px;
  }

  td {
    width: 50%;
    padding-inline: 40px;
    vertical-align: baseline;
    color: #000;
  }
  
  .tdInfo {
    display: flex;
    margin-block: 5px;

    .tdName:first-child {
      width: 80%;
    }
  }

  .bottomBlock {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-inline: 100px;

    .print {
      margin-top: 10px;
      margin-left: auto;
    }
  }
}

.tableInfo24 {
  table,
  th,
  td {
    border: 1px solid black;
  }

  .table,
  .tableText {
    margin-top: 20px;
    color: #000;
  }


  td:nth-child(2n) {
    width: 7%;
  }

  .tableText {
    line-height: 23px;
  }
}