.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 14px;
  width: calc(270px * 2 + 14px * 2 * 2);
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
  margin: 0 auto;
}

.card, .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  padding: 40px 0 23px 0;
  width: 270px;
  height: max-content;
  border-radius: 9.391px;
  background: #F9FDFF;
  border-bottom: 4px solid var(--color-base);

  color: #0E5F8C;
  font-size: 18.059px;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    outline: 1px solid var(--color-base);
    box-shadow: 0px 2.8895px 11.55801px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.7s;
  }
}

.icon {
  width: 124px;
  height: 124px;
  margin-bottom: 15px;
  background: linear-gradient(164deg, rgba(255, 255, 255, 0.20) -10.51%, rgba(39, 209, 232, 0.20) 130.19%);
  border-radius: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.notification {
  position: absolute;
  right: 10px; 
  bottom: 10px; 
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background-color: #029B64;
  animation: blink 3s infinite;
}