.filters {
  margin-left: clamp(0px, 4vw, 66px);
  padding: 25px 0 13px 0;
}

.datePicker {
  margin-left: 13px;
}

.workDay {
  margin-left: 22px;
}

.presentDay, .nextDay {
  color: var(--color-base);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
}

.presentDay {
  margin-left: 43px;
  margin-right: 26px;
}

.schedule {
  width: 100vw;
  height: calc(100vh - 50vh + var(--header-height) - var(--width-scrollbar) + 37px)  ;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: block;
    width: var(--width-scrollbar);
    height: var(--width-scrollbar);
    overflow: auto;
    background-color: #A1B6C1;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #0E5F8C;
    border-radius: 9px;
  }

  .tets {
    width: 4000px;
    height: 500px;
    background: #029B64;
  }

  .header {
    display: flex;
    background: #F3FBFF;
    border-block: 1px solid #578695;
    align-items: center;
    border-right: 1px solid #A1B6C1;


    .name  {
      color:  #578695;
      font-size: 18px;
      font-weight: 600;
      line-height: 140%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      color:  #029B64;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; 

    color: #578695;
    font-size: 14px;
    font-weight: 500;
  }

  .doctorInfo,
  .patientInfo {
    display: flex;
    width: 192px;
    padding: 0 15px 0 25px;
  }

  .doctorInfo {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-transform: capitalize;
  }

  .container {
    display: flex;
    flex-direction: column;

    .bodyAttributes {
      min-width: 192px;
      background-image: none;
    }
    
    .time {
      position: relative;
      height: 96px;
      padding: 5px 12px 5px;
      align-items: start;
      justify-content: end;
      border-bottom: 1px solid #A1B6C1;
      border-right: 1px solid #A1B6C1;
      background: #fff;

      .timeScale {
        height: auto;
        position: absolute;
        width: 7px;
        border-block: 1px solid #A1B6C1;
        top: 25%;
        bottom: 25%;
        right: 0;
      }

      .timeScale::after {
        content: '';
        position: absolute;
        width: 24px;
        border-bottom: 1px solid #A1B6C1;
        top: 50%;
        right: 0;
      }
    }

    .patientInfoBlock {
      background-color: #fff;

      .patientInfo {
        position: relative;
        height: 100%;
        align-items: center;
        border: 1px solid #A1B6C1;
        color: #578695;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        line-height: 107%;
  
        &.active, 
        &.select,
        &.passed {
          border-bottom: 1px solid #A1B6C1;
        }
  
        &.active {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          width: 100%;
          background: #D5FFE8;
        }
        
        &.passed {
          background: #EAEAEA;
        }
  
        &.select {
          background: #876AFF;
          color: #FFF;
          font-weight: 600;
        }
      }
    }
  }
}

