.tableCellItem {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.statusInfo {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;

  .status {
    color: #029B64;
    font-weight: 400;

    &.cancel {
      color: #A41111;
    }
  }

  .date {
    color: #A1B6C1;
  }

  .name {
    color: #578695;
  }
}

