

.filters {
  display: flex;

  .filter {
    width: max-content;
    margin-left: 15px;
    margin-bottom: 5px;

    .filterIcon {
      right: -20px
    }
  }

  .therapyFilter {
    margin-left: 50px;
  }
}

.card {
  margin-bottom: 13px;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #BDE1F6;
  background: #FCFEFF;

  color: #0E5F8C;
  font-size: 16px;
  font-weight: 400;

  .blockInfo {
    padding-block: 10px ;
    border-bottom: 1px solid #D4EFFF;
    font-size: 16px;

    .info {
      padding: 10px 20px ;
    }

    .name {
      color: var(--color-base);
      font-weight: 500;
      line-height: 107%;
    }

    .textInfo {
      font-weight: 400;
    }

    &:last-child {
      border: none;
    }

    &.subTreatment:hover {
      border: 1px solid #D4EFFF;
      border-top: none;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      background: #48bdff2e;
    }
  }

  .headInfo {
    display: flex;
    justify-content: space-between;

    .category {
      display: flex;

      .categoryName {
        display: flex;
        margin-right: 30px;
      }
    }

    .status {
      color: var(--color-success);

      &.finished {
        color: #E95B5B
      }
    }
  }

  .problemInfo {
    .name {
      color: #0E5F8C;
      font-weight: 600;
      line-height: 107%;
    }

    .textInfo {
      color: #A41111;
      font-weight: 400;
      line-height: 107%;
    }
  }

  .dateTime,
  .categoryName {
    display: flex;

    svg {
      margin-right: 5px;
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  margin: 30px auto;
  padding: 70px 35px 35px;
  border-radius: 14px;
  border: 1px solid #229CE1;

  .info {
    margin-block: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }

  .createButton {
    display: flex;
    width: max-content;
    background-color: var(--color-success);
    color: var(--color-white);
    padding: 10px 9px;
    border-radius: 29px;
    font-size: 14.5px;
    font-weight: 500;

    svg {
      margin-right: 5px;
    }
  }
}