.root {
  display: flex;
  align-items: center;
  height: 58.5px;
  padding-left: clamp(20px, 32vw, 40px);
  padding-right: 12px;
  border-bottom: 1px solid #578695;
  color: #0E5F8C;
}

.name {
  margin-right: 10px;
  white-space: nowrap;
  color: #0E5F8C;
  font-size: clamp(16px, 2vw, 20px) ;
  font-weight: 600;
}

.search {
  width: 221.192px;
  height: 34.387px;
  margin: 0;
  padding-left: 20px;
  padding-right: 7px;
  border-radius: 47px;
  border: 0.764px solid var(--color-base);
  background: var(--color-white);

  font-size: 16px;
  font-weight: 400;
  color: #A1B6C1;

  input {
    padding: 0;
    padding-right: 10px;
  }
}