.root{
  display: flex;
}

.day {
  width: 50px;
  height: 50px;
  border-radius: 4.464px;
  border: 0.893px solid #578695;

  color:#578695;
  text-align: center;
  font-size: 21.427px;
  font-weight: 500;
 
  &.active {
    border: none;
    color: var(--color-white);
    background: var(--color-base);
  }
}


.arrowLeft,
.arrowRight {
  display: flex;
  height: auto;
  align-items: center;
}

.arrowLeft {
  padding-right: 5px;
}

.arrowRight {
  padding-left: 5px;
}