.sideBar {
  position: relative;
  width: var(--sidebar-width);

  height: calc(100vh - var(--header-height));
  overflow-y: auto; 

  border-right: 1px solid #A1B6C1;
}

.sideBar::-webkit-scrollbar {
  width: 0;
}
