.container {
  display: flex;
  flex-direction: column;
  width:clamp(586px, 55vw, 620px) ;
  padding: 29px 23px 0 44px ;
  border-right: 1px solid #D0EEFF;
}

.title {
  margin-bottom: 10px;
  color: var(--color-font);
  font-size: 16px;
  font-weight: 600;
}

.subTitle {
  color:  #578695;
  font-size: 16px;
  font-weight: 400;
}

.row {
  display: flex;
  margin-top: 43px;
  padding-left: 15px;
}

.column {
  width: 60%;
}

.column:nth-child(2) {
  width: 40%;
}

.dateInput {
  color: var(--color-white);
}

.editButton{
  margin: 70px 0 80px auto;
}

.buttonsRemove {
  margin-top: 0;
  margin-bottom: 43px;
  flex-direction: column;
}

.remove {
  width: max-content;
  color: var(--color-error);
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}

.remove:last-child {
  margin-top: 18px;
}

.modalNameClinic {
  font-weight: 700;
}