.root {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 0px;
    background: #F9FDFF;
    box-shadow: -7px 6px 17px 0px rgba(0, 0, 0, 0.15);
}

