.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin-bottom: 20px;
}

.loadFails {
  margin-top: 5px;
}

.close {
  position: absolute;
  top: -25px;
  right: -25px;

  svg {
    width: 25px;
    height: 25px;
  }
}